---
import Layout from '@layouts/Layout.astro'
import { getEntry, render } from 'astro:content'

const about = await getEntry('pages', 'about')

if (!about) {
  return Astro.redirect('/404')
}

const { Content } = await render(about)

const metadata = {
  title: about.data.title,
  description: about.data.description,
}
---

<Layout {metadata}>
  <div class="leading-tight">
    <h1 class="font-semibold text-3xl">{about.data.title}</h1>
    {about.data.description && <p class="text-sm opacity-50 mt-2">{about.data.description}</p>}
  </div>
  <div class="h-px my-4 w-full bg-gray-100"></div>
  <article class="markdown">
    <Content />
  </article>
</Layout>
