---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import { getEntry, render } from 'astro:content'
import { getEvents, getLanguages } from '@lib/event'
import EventsList from '@components/EventsList.astro'

const events = await getEvents()
const languages = await getLanguages()
---

<Layout>
  <div class="">
    <div class="flex space-x-2">
      {
        languages.map((language) => (
          <a class="hover:underline" href={language}>
            {language}
          </a>
        ))
      }
    </div>
    <EventsList />
  </div>
</Layout>
