---
import { getEvents } from '@lib/event'

interface Props {
  language?: string
}

const { language } = Astro.props
const events = (await getEvents()).filter((e) => {
  if (!language) {
    return e
  }

  return e.language == language
})
---

<div class="flex flex-col">
  {
    events.map((event) => (
      <a href={event.id} class="hover:underline">
        <span>{event.data.title}</span>
        <span class="opacity-50">@ {event.data.venue.title}</span>
      </a>
    ))
  }
</div>
