---
import Layout from '@layouts/Layout.astro'
import EventHeader from '@components/EventHeader'
import { getEntry } from 'astro:content'
import { render } from 'astro:content'
import { getCollection } from 'astro:content'
import { parseEvent } from '@lib/event'

export async function getStaticPaths() {
  const events = await getCollection('events')
  const paths = events.map((event) => {
    const [lang, eventId] = event.id.split('/')
    return {
      params: { lang, event: eventId },
      props: { language: lang, event: parseEvent(event) },
    }
  })

  return paths
}

const { event: eventAsync, language } = Astro.props
const event = await eventAsync
const { Content } = await render(event)
const { organizer: organizerRef } = event.data
---

<Layout {language}>
  <EventHeader event={event} isEventPage languageBadge={false} />
  <div class="h-px my-4 w-full bg-gray-100"></div>
  <div class="markdown">
    <Content />
  </div>
</Layout>
