---
import { getCollection } from 'astro:content'
import '../styles/global.css'

// const languages = getCollection('events')
interface Props {
  language?: string
}
const { language } = Astro.props

/*
Click on "logo" -> home
Click on language (on event page) -> home with language filter
*/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="p-4 font-mono text-xl">
    <nav class="pb-2 border-b border-gray-100 mb-2 flex space-x-2">
      <a class="hover:opacity-50" href="/">aarhus.dev</a>
      {
        language && (
          <a class="hover:opacity-50" href={'/' + language}>
            {language}
          </a>
        )
      }
      <span>%</span>
    </nav>
    <slot />
  </body>
</html>
