---
import { getCollection } from 'astro:content'
import '../styles/global.css'
import LanguagePicker from '@components/LanguagePicker/LanguagePicker.astro'
import { getLanguages } from '@lib/event'

interface Props {
  language?: string
}
const { language } = Astro.props

const languages = await getLanguages()
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"
    ></script>
    <title>Astro</title>
  </head>
  <body class="p-4 font-mono text-xl max-w-5xl mx-auto">
    <nav class="flex space-x-2 items-center">
      <a class="hover:opacity-50 no-underline!" href="/">aarhus.dev</a>
      {
        language && (
          <>
            <span>/</span>
            <LanguagePicker selectedLanguage={language} languages={languages} />
          </>
        )
      }
      {
        !language && (
          <div class="flex ml-5 space-x-4 opacity-25">
            {languages.map((language) => (
              <a class="hover:underline" href={'/' + language}>
                {language}
              </a>
            ))}
          </div>
        )
      }
    </nav>
    <div class="h-8"></div>
    <slot />
  </body>
</html>
